{% extends "pharmacy/base.html" %}
{% load static %}
{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <!--- offcanvas trigger -->
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
      </button>
      <!--- offcanvas trigger -->
      <a class="navbar-brand fw-bold text-uppercase me-auto" href="{% url 'home' %}">Hospital Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto" method="get" action="{% url 'inventory_search' %}">
          {% csrf_token %}
          <div class="input-group my-3 my-lg-0">
            <input type="text" class="form-control" placeholder="Material Description i.e syringes" aria-label="Material Description"
              aria-describedby="basic-addon2" name="query">
            <button class="btn btn-secondary" type="submit" id="button-addon2">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <!--- Navbar -->

  <!--- Section -->

  <section class="container pt-5 mb-5" style="border-radius: 5px; background-color: aquamarine;">
    {% if inventories %}
    <h1 class="text-center my-3">Search Results</h1>
    <table class="table table-striped">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <td>Material Code</td>
          <td>Material Description</td>
          <td>Material Type</td>
          <td>Location</td>
          <td>Order Quantity (Units)</td>
          <td>Quantity Issued (Units)</td>
          <td>Balance (Units)</td>
          <td>Date Added</td>
          <td>Date Issued</td>
        </tr>
      </thead>
      <tbody>
        {% for inventory in inventories %}
        <tr>
          <td>{{inventory.material_code}}</td>
          <td>{{inventory.material_description}}</td>
          <td>{{inventory.material_types}}</td>
          <td>{{inventory.location}}</td>
          <td>{{inventory.order_quantity}}</td>
          <td>{{inventory.quantity_issued}}</td>
          <td>{{inventory.balance}}</td>
          <td>{{inventory.date_added}}</td>
          <td>{{inventory.date_issued}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>No Results Found!</h1>
    {% endif %}
  </section>
  <!--- Section -->
</body>
{% endblock content %}