<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/1.11.5/dataTables.bootstrap5.min.css"
    integrity="sha512-160haaGB7fVnCfk/LJAEsACLe6gMQMNCM3Le1vF867rwJa2hcIOgx34Q1ah10RWeLVzpVFokcSmcint/lFUZlg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/styles.css" />
  <title>HMS</title>
  <link rel="icon" href="../static/admin2.png" type="image/x-icon">
</head>

<body>
  {% block content %}
  {% endblock content%}
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
    integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/1.10.19/js/jquery.dataTables.min.js"
    integrity="sha512-qj/z+QZzJnj8b6QVZqXx4fv7sQ1z+o9l0jqXzJnjg0jXwcN8v/nfZ/qn7f/Yvnj/rYQ/ZnZ/q9Z/YjZYQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/1.11.5/dataTables.bootstrap5.min.js"
    integrity="sha512-nfoMMJ2SPcUdaoGdaRVA1XZpBVyDGhKQ/DCedW2k93MTRphPVXgaDoYV1M/AJQLCiw/cl2Nbf9pbISGqIEQRmQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/a73e6396c0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    var state = {
      'items': [],
      'values': [],
    }

    var dataURL = '/chart_1/';

    $.ajax({
      url: dataURL,
      type: 'GET',
      dataType: 'json',
      success: function (response) {
        for (var i in response) {
          var key = Object.keys(response[i])[0];
          var value = Object.values(response[i])[0];

          state.items.push(key);
          state.values.push(value);
        }
        console.log('State: ', state);
        buildChart1();
      }
    });

    function buildChart1() {
      var chartData_1 = {
        "type": "bar",
        "title": {
          "text": "Number of Patients Vs Employees",

          "font-family": "open sans",
          "font-size": "25px",
          "offset-x": "10px",
          "align": "left"
        },
        "scale-x": {

          "values": state.items
        },
        "scale-y": {
          "values": "0:10:1",
          "label": {
            "text": "Number of Individuals",
            "font-color": "#8e99a9",
            "font-size": "12px",
          }
        },
        "plot": {
          "animation": {
            "delay": "1000",
            "effect": "4",
            "method": "3",
            "sequence": "1"
          }
        },
        "series": [
          {
            "values": state.values
          }
        ]
      }

      zingchart.render({
        id: "myChart1",
        data: chartData_1,
      });
    }

  </script>
  <script>
    var chartState = {
      'items': [],
      'values': [],
    }

    var dataURL = '/chart_2/';

    $.ajax({
      url: dataURL,
      type: 'GET',
      dataType: 'json',
      success: function (response) {
        for (var i in response) {
          var key = Object.keys(response[i])[0];
          var value = Object.values(response[i])[0];

          chartState.items.push(key);
          chartState.values.push(value);
        }
        console.log('State: ', chartState);
        buildChart2();
      }
    });

    function buildChart2() {
      var sumValues = chartState.values.reduce((a, b) => a + b, 0);
      var chartData_2 = {
        type: "pie",
        plot: {
          borderColor: "#2B313B",
          borderWidth: 5,
          // slice: 90,
          valueBox: {
            placement: 'out',
            text: '%t\n%npv%',
            fontFamily: "Open Sans"
          },
          tooltip: {
            fontSize: '18',
            fontFamily: "Open Sans",
            padding: "5 10",
            text: "%npv%"
          },
          animation: {
            effect: 2,
            method: 5,
            speed: 900,
            sequence: 1,
            delay: 1000
          },
        },

        title: {
          text: 'Inventory Items',
          align: "left",
          offsetX: 10,
          fontSize: 25,
          fontFamily: "Open Sans"
        },
        plotarea: {
          margin: "20 0 0 0"
        },
        series: [{
          values: [Math.floor((chartState.values[0] / sumValues) * 100)],
          text: chartState.items[0],
          backgroundColor: '#50ADF5',
        },
        {
          values: [Math.floor((chartState.values[1] / sumValues) * 100)],
          text: chartState.items[1],
          backgroundColor: '#FF7965',
        },
        {
          values: [Math.floor((chartState.values[2] / sumValues) * 100)],
          text: chartState.items[2],
          backgroundColor: '#6877e5'
        }
        ]
      }
      zingchart.render({
        id: "myChart2",
        data: chartData_2,
      });
    }
  </script>
</body>

</html>