{% extends "web_app/base.html" %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!--- offcanvas trigger -->
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
    </button>
    <!--- offcanvas trigger -->
    <a class="navbar-brand fw-bold text-uppercase me-auto" href="{% url 'home' %}">Hospital Management
      System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<!--- Navbar -->

<!--- offcanvas -->
<div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            CORE
          </div>
        </li>
        <li>
          <a class="nav-link px-3 active" href="{% url 'employee_home' %}">
            <span class="me-2">
              <i class="fa-solid fa-chart-line"></i>
            </span>
            <span class="text-success">Dashboard</span>
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider" />
        </li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            INTERFACE
          </div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <span class="me-2"><i class="bi bi-person-workspace"></i></span>
            <span class="text-primary active">Staff</span>
            <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
          </a>
          <div class="collapse" id="collapseExample">
            <div>
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="{% url 'employee_home' %}" class="nav-link px-3">
                    <span class="me-2">
                      <i class="fa-solid fa-id-card"></i>
                    </span>
                    <span>Employee Module</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          <span class="me-2"><i class="fa-solid fa-person-dots-from-line"></i></span>
          <span class="text-primary active">Patient</span>
          <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
        </a>
        <div class="collapse" id="collapseExample">
          <div>
            <ul class="navbar-nav ps-3">
              <li>
                <a href="{% url 'patient_home' %}" class="nav-link px-3">
                  <span class="me-2">
                    <i class="fa-solid fa-bed-pulse"></i>
                  </span>
                  <span>Patient Module</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        <span class="me-2"><i class="fa-solid fa-suitcase-medical"></i></span>
        <span class="text-primary active">Pharmacy</span>
        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
      </a>
      <div class="collapse" id="collapseExample">
        <div>
          <ul class="navbar-nav ps-3">
            <li>
              <a href="{% url 'inventory_home' %}" class="nav-link px-3">
                <span class="me-2">
                  <i class="fa-solid fa-tablets"></i>
                </span>
                <span>Pharmacy Module</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  </li>
  </ul>
  </nav>
</div>
</div>
<!--- offcanvas -->

<!--- content -->
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="title fw-bold fs-3">
      Dashboard
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card bg-primary text-white h-100">
          <div class="card-body py-5">
            <h5>Total Employees</h5>
            <p class="card-text">{{employee_count}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card bg-warning text-dark h-100">
          <div class="card-body py-5">
            <h5>Total patients</h5>
            <p class="card-text">{{patient_count}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card bg-success text-white h-100">
          <div class="card-body py-5">
            <h5>Total Inventory</h5>
            <p class="card-text">{{inventory_count}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-6" id="myChart1"></div>
      <div class="col-md-6 mb-6" id="myChart2"></div>
    </div>
  </div>
</main>
{% endblock content %}